
.block__items{
    padding: 10px;
    background-color: #737979;
    border-radius: 5px;
}


.result{
    text-align: left;
    margin-top: 20px;
}
.culc{
    margin-top: 20px;
    text-align: left;

    label{
        margin-right: 5px;
    }

    
}

.choise{
    margin-bottom: 20px;
}
