.content{
    display: block;
    margin-top: 30px;
}

.block__title{
    text-align: left;
}


.content__items{
    display: flex;
    
}

.item{
    display: flex;
    margin: 10px;
    background-color: #737979;
    border-radius: 5px;
}

.item__content{
    display: block;
    padding: 15px;
}