.nav{
    display: flex;
    width: 100%;
    height: 35px;
    background-color: rgb(51, 130, 194);
}

.nav__list{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav__item{
    // display: flex;
    text-align: center;
    list-style: none;
    
    

    &:hover{
        background-color: darken(rgb(51, 130, 194), 10%);
        // color: lighten(rgb(51, 130, 194), 20%)
    }

}


.nav__links{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 0 20px;
    color: black;
    font-weight: 700;
    font-family: 'Yusei Magic', sans-serif;

}